.title {
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 15vh;
  text-shadow: 1px 1px 5px #505050;
  color: #eeeeee;
  text-align: center;
}

.subtitle {
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
  font-style: bold;
  font-size: 5vh;
  color: #eeeeee;
  text-align: center;
}

.piccreds {
  font-size: 1.5vh;
  font-weight: 200;
  font-style: bold;
  color: #d0d0d0;
}

.socials-links {
  font-size: 1.1vw;
  font-weight: 200;
  font-style: bold;
  color: #d0d0d0;
}

.aboutheader {
  font-family: Libre;
}

.aboutbody {
  font-family: Libre;
  font-size: 3vh;
  font-weight: 100;
  font-style: normal;
  color: #c0c0c0;
}

#Homelist {
  margin: 1vw;
  display: flex;
  justify-content: center;
}

#Homelistitem {
  display: flex;
  justify-content: center;
}