/* .container {
  font-family: arial;
  font-size: 24px;
  margin: 25px;
  width: 350px;
  height: 200px;
  outline: dashed 1px black;
}
*/
.center {
  width: 80%;
  margin: 0 auto;
}

/* 
.card-pretty {
  box-shadow: 2px 2px 10px rgb(33, 33, 33);
  background-color: #303030 !important;
} */

/* .card-subtitle {
  font-family: 'Montserrat', sans-serif;
  font-weight: 200;
  font-style: normal;
  text-align: center;
  font-size: 3vh;
  color: #222222;
} */

.search-tracking-card {
  /* font-family: Libre; */
  width: 600px;
  align-self: center;
  color: #1f1f1f;
}